/*CSS Document*/


/*body styling and insertion of font-family*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    font-family: 'Open-Sans', sans-serif;
}

/*  3D Book Flip Effect */

.book_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 650px;
    width: 450px;
    perspective: 1800px;
}

.book {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a2e7c3;
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, 0);
    transition: all 300ms;
}

.book:hover {
    transform: rotate3d(0, 1, 0, 35deg);
}

.back_cover {
    position: absolute;
    top: 0;
    left: 0;
    background: #91cfaf;
    height: 100%;
    width: 60px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: rotate3d(0, 1, 0, -86deg) translate3d(-100%, 0, 0);
}

.back_cover div {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    background: #f3f3f3;
    width: 100%;
}

.cover {
    background: #fff;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* text styling of the p and h1 element */
.cover p {
    padding: 20px 0 0 30px;
    font-size: 20px;
}

h1 {
  padding: 0;
  margin: 50px 0 0 30px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
}